altgraph==0.17.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
beautifulsoup4==4.12.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
certifi==2023.7.22 ; python_full_version >= "3.8.1" and python_version < "3.13"
charset-normalizer==3.3.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "3.13" and platform_system == "Windows"
idna==3.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
importlib-metadata==6.8.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
lxml==4.9.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
macholib==1.16.3 ; python_full_version >= "3.8.1" and python_version < "3.13" and sys_platform == "darwin"
markdown-it-py==3.0.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
markdownify==0.11.6 ; python_full_version >= "3.8.1" and python_version < "3.13"
mdurl==0.1.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
packaging==23.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
pefile==2023.2.7 ; python_full_version >= "3.8.1" and python_version < "3.13" and sys_platform == "win32"
pygments==2.16.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
pyinstaller-hooks-contrib==2023.10 ; python_full_version >= "3.8.1" and python_version < "3.13"
pyinstaller==6.1.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
python-dotenv==1.0.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
pywin32-ctypes==0.2.2 ; python_full_version >= "3.8.1" and python_version < "3.13" and sys_platform == "win32"
requests==2.31.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
rich==13.6.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
setuptools==68.2.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
soupsieve==2.5 ; python_full_version >= "3.8.1" and python_version < "3.13"
tqdm==4.66.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
typing-extensions==4.8.0 ; python_full_version >= "3.8.1" and python_version < "3.9"
urllib3==2.0.6 ; python_full_version >= "3.8.1" and python_version < "3.13"
zipp==3.17.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
